@font-face {
  font-family: 'icomoon';
  
src:  url('https://raw.githack.com/SergeiDragun/audio/master/icomoon.eot');
  
src:  url('https://raw.githack.com/SergeiDragun/audio/master/icomoon.eot#iefix') format('embedded-opentype'),

      url('https://raw.githack.com/SergeiDragun/audio/master/icomoon.ttf') format('truetype'),

      url('https://raw.githack.com/SergeiDragun/audio/master/icomoon.woff') format('woff'),

      url('https://raw.githack.com/SergeiDragun/audio/master/icomoon.svg#icomoon') format('svg');

     font-weight: normal;
  font-style: normal;

}



[class^="icon-"], [class*=" icon-"] {

  /* use !important to prevent issues with browser extensions that change fonts */

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;

  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  line-height: 1;

  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

}



.icon-heart-o:after {

  content: "\e902";
margin-left: 5px;
}


.icon-birthday-cake:after {

  content: "\e900";

margin-left: 5px;
}


.icon-travel-taxi-cab:after {

  content: "\e901";

margin-left: 5px;
}


.icon-glass:after {

  content: "\e9a0";

margin-left: 5px;
}


.icon-woman:after {

  content: "\e9dd";

margin-left: 5px;
}
